<h1>Adicione os nomes e a data do aluguel do espaço!</h1>
<form action="/users/create" method="POST" class="form">
  <div class="form-control">
    <label for="name">Nome do contrante e a data da festa:</label>
    <input type="text" name="name" placeholder="Digite o nome do usuário">
  </div>
  <div class="form-control">
    <label for="occupation">Valor já pago:</label>
    <input type="number" name="occupation" placeholder="Digite a profissão">
  </div>
  <div class="form-control form-checkbox">
    <input type="checkbox" name="newsletter" checked>
    <label for="newsletter">Enviar promoções?</label>
  </div>
  <input type="submit" value="Cadastrar">
</form>