

<link rel="stylesheet" href="/public/css/styles.css">


<a href="/">Voltar</a>
<h1>{{user.name}}</h1>

<nav class="paginaview">
    <h1>
Valor jรก pago pelo cliente 
</h1>
<p>{{user.occupation}}$</p>
</nav>

